.Menu {
    height: 16vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #310660;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0.3vh 10vw;
    font-family: 'Adlinnaka';
}

.Menu a {
    color: #ffffff;
    font-size: 1.5vw;
    text-decoration: none;
    cursor: pointer;
}

.LeftMenu a {
    padding: 2vh 0.5vw;
    margin-left: 0.1vw;
}

.LeftMenu input {
    margin: 0px 0.5vw;
    min-width: 40vw;
    min-height: 2.5vw;
    border-radius: 5px;
}

.LeftMenu .Logo {
    margin-left: -9vw;
}

.RightMenu {
    margin-right: -8vw;
}

.RightMenu img {
    margin: 0px 0.1vw;
    padding: 0.8vw;
}

.Premium {
    margin-left: 14vw
}