.Themes button {
    font-family: 'OpenSansBold';
    font-size: 1.5em;
    border: none;
    width: 23vw;
    padding: 3px 10px;
    color: #310660;
    text-align: left;
    margin-bottom: 2vh;
}

a{
    text-decoration: none;
    color: #310660;
}