.Menu {
    height: 12.6vh;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #310660;
    display: flex;
    justify-content: start;
    align-items: center; 
    font-family: 'Adlinnaka';
}

.Menu a {
    color: #ffffff;
    font-size: 1.1rem;
    text-decoration: none;
    cursor: pointer;
}

.LeftMenu {
    width: 68.2vw;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    margin: 0;
}

.LeftMenu a {
    padding: 2vh 0;
    margin-left: 1vw;
}


.LeftMenu a img{
    margin-left: 0.5vw;
}

.LeftMenu input {
    margin: 0 0 0 4vw;
    width: 40.6vw;
    height: 6.95vh;
    border-radius: 10px;
    background-color: white;
    font-size: 1.5vw;
}

.LeftMenu .Logo {
    margin-left: 4vw;
    max-width: 93px;
    line-break: break-all;
}

.Logo a{
    margin: 0;
}

.RightMenu {
    margin-right: -8vw;
    display: flex;
    flex-direction: row;
}

.Premium {
    margin-left: 12.3vw
}

.Bell {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0.1vw;
    padding: 0.8vw 0 0.8vw 0.8vw;
}

.Read {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 0.1vw;
    padding: 0.8vw 0 0.8vw 0.8vw ;
    border: none;
    background: none;
}

.ArrowDown {
    margin: 0px 0.1vw;
    padding: 0;
}

.ExpandMenu {
    max-height: 0px;
    width: 100vw;
    position: absolute;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #20003e;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-family: 'Adlinnaka';
    transition: all 0.3s;
    padding: 0;
    padding: 0 3.3vw 0 3.3vw;
    z-index: 2;
}

.ExpandLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 21.2vw;
    height: 87.4vh;
}

.ExpandLeft h1 {
    font-size: 2.1vw;
    color: white;
    margin: 4.81vh 0 0 0;
}

.ExpandLeft a {
    text-decoration: none;
    cursor: pointer;
}

.ExpandLeft a h1 {
    font-size: 2.5vw;
    color: white;
    margin: 0 0 4.81vh 0;
}

.ExpandLeft a h2 {
    font-size: 2.1vw;
    color: white;
    margin: 0 0 0 0;
}

.ExpandMiddle {
    display: flex;
    width: 51.8vw;
    height: 87.4vh;
    flex-direction: column;
}

.InfoPerson{
    display: flex;
    flex-wrap: wrap;
    width: 51.8vw;
    height: 37.4vh;
    justify-content: center;
}

.InfoPerson div {
    width: 25vw;
    height: 9.64vh;
    margin: 4.81vh 0;
}

.InfoPerson div h1 {
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    margin: 0;
}

.InfoPerson div h2 {
    font-size: 1.3vw;
    color: white;
    margin: 3,7vh 0 0 0;
}

.InfoSchool{
    display: flex;
    flex-wrap: wrap;
    width: 51.8vw;
    height: 37.4vh;
    justify-content: center;
}

.InfoSchool div {
    width: 25vw;
    height: 9.64vh;
    margin: 4.81vh 0;
}

.InfoSchool div h1 {
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
    margin: 0;
}

.InfoSchool div h2 {
    font-size: 1.3vw;
    color: white;
    margin: 3,7vh 0 0 0;
}

.ExpandRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27vw;
    height: 87.4vh;
}

.CreditCard {
    margin: 4.81vh 3.3vw 0 0;
}

.EditProfile { 
    display: flex;
    margin: 0 0 4.81vh 0;
}

.EditProfile a:first-child {
    background-color:#20003e;
    color: white;
    border: 3px solid white;
}

.EditProfile a {
    display: flex;
    text-decoration: none;
    cursor: pointer;
    color:#20003e;
    background-color: white;
    box-sizing: border-box;
    border: 3px solid white;
    border-radius: 10px;
    width: 197px;
    padding: 1.75vh 0;
    margin-left: 19px;
    justify-content: center;
    align-content: center;
    font-size: 19px;
}