.Cadastro {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.Cadastro h2 {
    font-family: 'OpenSansBold';
    color: #3c3c3c;
    font-size: 2vw;
}

.Cadastro h3 {
    font-family: 'OpenSansLight';
    color: #3c3c3c;
    font-size: 1vw;
    margin-top: -1vh;
}

.Cadastro a {
    text-decoration: none;
}

.CadastroPage {
    margin-left: 5vw;
}

.CadastroMenu {
    display: flex;
    flex-direction: column;
    padding: 3vh 0vw;
}

.CadastroName {
    display: flex;
    justify-content: space-between;
}

.CadastroForm{
    display: flex;
    flex-direction: row;
}

.InputsEndCadastro {
    display: flex;
    justify-content: space-between;
}

.InputsEndCadastro button a {
    color: #ffffff;
}

.InputsEndCadastro button {
    border: none;
    font-size: 1.5rem;
    font-family: 'OpenSansBold';
    color: #ffffff;
    background-color: #310660;
    border-radius: 10px;
    padding: 1.8vh 3vw;
    margin-bottom: 5vh;
}

button:hover {
    cursor: pointer;
}

.Cadastro p {
    text-align: center;
}

.Complemento {
    display: none;
}

.Inicial {
    display: flex;
}

.alert {
    position: absolute;
    color: red;
    display: none;
    transform: translateY(-300%);
}