.VideoDivs {
    display: flex;
    margin: 0 0 0 5vw;
}

.Video h2 {
    font-family: 'OpenSansBold';
    font-size: 1.5rem;
    color: #310660;
}

.Video h3 {
    font-family: 'OpenSansLight';
    font-size: 1.1rem;
    color: #310660;
    padding: 0px 0px 0px 25px;
    margin-bottom: 1px;
}

.Video span {
    font-family: 'OpenSansBold';
    font-size: 1.2rem;
    color: #310660;
    margin-left: 10px;
}

.Video #Int {
    font-family: 'OpenSansBold';
    font-size: 1rem;
    color: gray;
    padding: 0px 0px 0px 25px;
}

.Video #Sub {
    font-family: 'OpenSansBold';
    font-size: 0.8rem;
    color: #310660;
    padding: 0px 0px 0px 25px;
}

.Video .VideoPlayer {
    width: 69vw;
    height: 80vh;
}

.Video .ReviewsOptions {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.Video .ReviewsOptions img {
    overflow: hidden;
    margin: -20px 0px 0px 10px;
}

.InfoContainer {
    margin-left: 3vw;
    border-left: 1px solid rgba( 0, 0, 0, .2);
    min-width: 20vw;
}

.InfoContainerTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 0px 25px;
}
